In [1]:
from sql_connection import SQLconnector
import pandas as pd
import numpy as np
import mysql.connector
from config import SQL_CONFIG

{'host': 'db', 'port': 3306, 'user': 'root', 'password': 'jh', 'database': 'DB_SQLSTK'}

In [2]:
connector=SQLconnector()
cursor=connector.getConnection()

creating
<mysql.connector.connection_cext.CMySQLConnection object at 0x7f744282e6d0>

In [3]:
query=("SELECT STK_CD,STK_NM FROM stock LIMIT 10")
cursor.execute(query)
for (STK_CD, STK_NM) in cursor:
    print(STK_CD, 
          STK_NM)

000020 동화약품
000040 KR모터스
000050 경방
000060 메리츠화재
000070 삼양홀딩스
000075 삼양홀딩스우
000080 하이트진로
000087 하이트진로2우B
000100 유한양행
000105 유한양행우

In [4]:
query="SELECT STK_CD, STK_NM FROM stock WHERE SEC_NM=%s"
cursor.execute(query, ['증권'])
result_lst=[]
for STK_CD ,STK_NM in cursor:
    result=[STK_CD ,STK_NM]
    result_lst.append(result)
result_lst

[['001200', '유진투자증권'],
 ['001270', '부국증권'],
 ['001290', '상상인증권'],
 ['001500', '현대차증권'],
 ['001510', 'SK증권'],
 ['001720', '신영증권'],
 ['001750', '한양증권'],
 ['003460', '유화증권'],
 ['003470', '유안타증권'],
 ['003530', '한화투자증권'],
 ['003540', '대신증권'],
 ['005940', 'NH투자증권'],
 ['008560', '메리츠증권'],
 ['016360', '삼성증권'],
 ['016610', 'DB금융투자'],
 ['030210', 'KTB투자증권'],
 ['030610', '교보증권'],
 ['039490', '키움증권'],
 ['078020', '이베스트투자증권'],
 ['190650', '코리아에셋투자증권']]

In [5]:
df=pd.DataFrame(result_lst, columns=['STK_CD','STK_NM'])
df

    STK_CD     STK_NM
0   001200     유진투자증권
1   001270       부국증권
2   001290      상상인증권
3   001500      현대차증권
4   001510       SK증권
5   001720       신영증권
6   001750       한양증권
7   003460       유화증권
8   003470      유안타증권
9   003530     한화투자증권
10  003540       대신증권
11  005940     NH투자증권
12  008560      메리츠증권
13  016360       삼성증권
14  016610     DB금융투자
15  030210    KTB투자증권
16  030610       교보증권
17  039490       키움증권
18  078020   이베스트투자증권
19  190650  코리아에셋투자증권

In [6]:
cursor.close()

True